In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting numpy<2,>=1.22.4; python_version < "3.11"
  Downloading numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kamran\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\kamran\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, numpy, tzdata, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\kamran\AppData\Local\Programs\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\Users\kamran\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import duckdb
import pandas as pd

In [48]:
sql_query = '''
SELECT * FROM "nyc_parking_violations"."main"."silver_violation_tickets_materialize"
WHERE issue_date = '2029-09-11'
-- SELECT summons_number, violation_code, COUNT(*) FROM "nyc_parking_violations"."main"."silver_violation_tickets_materialize"
--GROUP BY summons_number, violation_code
-- HAVING COUNT(*) = 1
'''

# sql_query = '''
# truncate table "nyc_parking_violations"."main"."silver_violation_tickets_materialize"
# '''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    #con.sql(sql_query)
    display(con.sql(sql_query).df())

,summons_number,issue_date,violation_code,is_manhattan_96th_st_below,issuing_agency,violation_location,violation_precinct,issuer_precinct,issuer_code,issuer_command,issuer_squad,violation_time,violation_county,violation_legal_code,fee_usd
0,1488028990,2029-09-11,71,False,P,43,43,0,972408,PSA8,0,0244P,BX,NaN,65
1,1488028990,2029-09-11,71,False,P,43,43,0,972408,PSA8,0,0244P,BX,NaN,65

In [50]:
sql_query = '''
SELECT * FROM "nyc_parking_violations"."main"."bronze_parking_violations"
WHERE summons_number = 1488028990
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    #con.sql(sql_query)
    display(con.sql(sql_query).df())

,summons_number,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,vehicle_expiration_date,violation_location,violation_precinct,issuer_precinct,issuer_code,issuer_command,issuer_squad,violation_time,violation_county,violation_legal_code,vehicle_color,vehicle_year
0,1488028990,NY,PAS,2029-09-11,71,SUBN,HONDA,P,20240724,43,43,0,972408,PSA8,0,0244P,BX,NaN,SL,0